.App {
  text-align: center;
  background-color: #FFFFFF;
  font-family: Arial;
}

.container {
  margin: auto;
  width: 800px;
  background-color: #E1E5F2;

}

.btn {
  margin: auto;
  width: 80px;
  height: 30px;
  border-width: 0;
  border-radius: 5px;
  color: #FFFFFF
}

#save {
  background-color: #BFDBF7;
}

#load {
  background-color: #1F7A8C;
}
