.App {
  text-align: center;
  background-color: #FFFFFF;
  font-family: Arial;
}

.container {
  margin: auto;
  width: 1200px;
  background-color: #E1E5F2;
  margin-top: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.input-label {
  text-align: left;
}

.modal-title {
  margin-top: 0px;
}

.modal-instruction {
  width: 45%;
}

#modal-notification {
  width: 45%;
}

#notification {
  height: 20px;
  padding-top: 5px;
}

#employee-list {
  width: 100%;
  table-layout: fixed;
}

.row {
  display: block
}

.col {
  display: inline-block;
  padding: 5px;
}

.search-text {
  width: 120px;
}

.search-num {
  width: 100px;
}

.search-date {
  width: 130px;
}

.table-data-col {
  width: 15%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.table-btn-col { width: 10% }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}